
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="EventsSearchBlock" class="floating-content-block">            
            @Html.Partial("~/Views/Shared/_EventsSearchForm.cshtml")
        </div>
    </div>
</div>


