
@{
    ViewBag.Title = "Index";
}

@section styles 
{
    <style>
         html { 
              background: url(../Images/bg.jpg) no-repeat center center fixed; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
         }    
    </style>   
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="EventsSearchBlock">            
            @Html.Partial("~/Views/Shared/_EventsSearchForm.cshtml")
        </div>
    </div>
</div>


