
@{
    ViewBag.Title = "Index";
}

@section styles 
{
    <style>
         html { 
              background: url(../Images/bg.jpg) no-repeat center center fixed; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
         }    
    </style>   
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="EventsSearchBlock">
            <h2>Events Search</h2>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Events...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
</div>


