
@{
    ViewBag.Title = "Index";
}
    
<div id="ResultsSearchBlock">
    <a href="@Url.Action("Index", "Search")" class="search-header">Events Search</a> 
    
    @Html.Partial("~/Views/Shared/_EventsSearchForm.cshtml")
</div>

