@media (max-width: 768px) {
    #EventsSearchBlock {
        top: 1em;   //in mobile mode add a slight margin to the top
		margin-right: 15px; /* fixing bootstrap row*/
    }
}

@media (min-width: 768px) {
    #EventsSearchBlock {
        top: 10em; //if we are in tablet mode or larger move the search block down a bit
    }
}

.floating-content-block {
    position: absolute;       
    background: rgba(240, 240, 240, 0.9);
    padding: 1em;
    border-radius: 0.25em;
    user-select: none;
    -webkit-user-select: none;
    -webkit-box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);
    -moz-box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);
    box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);

	.search-header {
		margin-top: 0.25em; //adjust our margins from bootstrap
	}

	.input-group {
		opacity: 1;    //remove the opacity from the search block above
	}
}