@media (max-width: 768px) {
    #EventsSearchBlock {
        top: 1em;
		margin-right: 15px; /* fixing bootstrap row*/
    }
}

@media (min-width: 768px) {
    #EventsSearchBlock {
        top: 10em;
    }
}

#EventsSearchBlock {
    position: absolute;       
    background: rgba(240, 240, 240, 0.9);
        
    font-family: 'Lobster', cursive;
    padding: 1em;
    border-radius: 0.25em;
    user-select: none;
    -webkit-user-select: none;
    -webkit-box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);
    -moz-box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);
    box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);

	h2 {
		margin-top: 0.25em;
	}

	.input-group {
		opacity: 1;    
	}
}