

<a href="@Url.Action("Index", "Search")" class="search-header">Events</a> 
<form action="~/Results/" method="post">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search Events...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
        </span>
    </div><!-- /input-group -->
</form>
