<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
       
    <link href="~/Libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Libs/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/styles/search-master.css" rel="stylesheet" />
    
    @RenderSection("styles", required: false)
</head>
<body>
    
    <div class="container">
        @RenderBody()    
    </div>
    
    <script src="~/Libs/jquery/jquery.min.js"></script>
    <script src="~/Libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Libs/jquery-maskedinput/js/jquery.maskedinput.js"></script>
    <script src="~/Content/scripts/search-master.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
